/* HowToPlay.css */

.how-to-play {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  h2 {
    color: var(--charcoal); /* Charcoal for headings */
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  ol {
    margin-left: 20px;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  