/* styles.css */

.container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center (if needed) */
    height: 100%; /* Ensure it takes at least the full height of its parent, adjust as necessary */
    width: 100%; /* Full width */
}


.table {
    width: 80%;
    border-collapse: collapse;
}

.th, .td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.th {
    background-color: #2e5266;
    color: white;
}

.tr:hover {
    background-color: #f2f2f2;
}
